accelerate>=0.26.0
datasets==3.0.1
fastapi==0.115.6
loguru==0.7.3
numpy==1.24.1
openai==1.58.1
pandas==1.4.4
pydantic==2.10.4
python-dotenv==1.0.1
PyYAML==6.0.2
qdrant_client==1.12.1
requests==2.32.3
torch==2.0.1
torchaudio==2.0.2
transformers==4.46.2
uvicorn==0.34.0

# bitsandbytes==0.44.1
# bitsandbytes-windows==0.37.5
# torch==2.4.1+cu121
# torchaudio==2.4.1+cu121
# torchvision==0.19.1+cu121
